BEGIN;

-- Running upgrade a91f3d2c4e10 -> b72c1d4e8f20

CREATE TABLE source_states (
    id SERIAL NOT NULL, 
    radar_code VARCHAR(40), 
    source_name VARCHAR(200) NOT NULL, 
    source_url TEXT NOT NULL, 
    etag VARCHAR(500), 
    last_modified VARCHAR(200), 
    content_hash VARCHAR(64), 
    last_checked_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    last_changed_at TIMESTAMP WITH TIME ZONE, 
    health VARCHAR(20) DEFAULT 'HEALTHY' NOT NULL, 
    last_status_code INTEGER, 
    CONSTRAINT pk_source_states PRIMARY KEY (id), 
    CONSTRAINT uq_source_states_source_url UNIQUE (source_url)
);

UPDATE alembic_version SET version_num='b72c1d4e8f20' WHERE alembic_version.version_num = 'a91f3d2c4e10';

-- Running upgrade b72c1d4e8f20 -> c83d2e5f9a31

UPDATE source_states SET radar_code = '' WHERE radar_code IS NULL;

ALTER TABLE source_states DROP CONSTRAINT uq_source_states_source_url;

ALTER TABLE source_states ALTER COLUMN radar_code SET NOT NULL;

ALTER TABLE source_states ALTER COLUMN radar_code SET DEFAULT '';

ALTER TABLE source_states ADD CONSTRAINT uq_source_states_radar_url UNIQUE (radar_code, source_url);

UPDATE alembic_version SET version_num='c83d2e5f9a31' WHERE alembic_version.version_num = 'b72c1d4e8f20';

COMMIT;

